.start-page {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.start-page-btn {
  width: 35rem;
  height: 15rem;
  background: var(--gradient-primary);
  border: none;
  border-radius: 1rem;
  font-family: "Exo 2", san-serif;
  font-size: 7rem;
  font-weight: bold;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.start-page-btn:active {
  transform: scale(0.98);
}
