@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --gradient-primary: linear-gradient(135deg, #343f4e, #131927);
  --gradient-start-button: linear-gradient(135deg, #f42f5f, #8e25bf);
  --gradient-prompt: linear-gradient(135deg, #343f4e, #131927);
  --gradient-response: linear-gradient(135deg, #131927, #343f4e);
  --gradient-form: linear-gradient(135deg, #2d2d2d, #1a1a1a);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Exo 2", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #131927;
}
